.oxsn_breadcrumbs {
	float: left;
	width: 100%;
}

.oxsn_breadcrumbs ul {
	list-style: none;
	display: inline-block;
	margin: 0;
	padding: 0;
}

.oxsn_breadcrumbs ul li {
	display: inline-block;
	margin-right: 8px;
}

.oxsn_breadcrumbs ul li:after {
	content: '›';
	display: inline-block;
	margin-left: 9px;
}

.oxsn_breadcrumbs ul li:last-child:after {
	display: none;
}